body{
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   margin: 0px;
} 

h2{
    color: white;
    padding-top: 10px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    display: flex;
}
h3{
   
    color: rgb(32, 40, 155);
    border-radius: 15px;
    padding: 5px;
    
}

link{
    padding-right: 20px;
}

#Clique{
    border-radius: 10px;
    flex: 2;
    gap: 30px;
    background-color: rgb(255, 255, 255);
}

.robo{
   width: 300px;
   height: 300px;
}

#site{
background-color: rgb(32, 40, 155);
text-align: center;
color: white;
}

#div1{
    margin: 10px;
    background-color: rgb(183, 217, 255);
    display: flex;
    border: 0px;
    border-radius: 15px;
    font-size: 15px;
}
.sec{
    text-align: center;
    background-color: rgb(32, 40, 155);
    color: rgb(255, 255, 255);
    border: 0px;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}  

#div2{
    margin-top: 10px;
    color: black;
    background-color:rgb(183, 217, 255);
    align-items: center;
    border: 0px;
    padding: 5px;
    border-radius: 15px;
}
#preto{
    color: black;
    justify-content: space-between;
    align-items: center;

}
#status{
    margin: 10px;
    display: flex;
}
#lado{
    text-align: center;
    display: flex;
    gap: 40px;
    color: black;
}

#teste1{
    color: black;
    display: flex;
    justify-content: space-between;
}

#lado2{
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 600px;
    color: black;
    background-color: white;
    margin: 15px;
    border-radius: 15px;

}
#verde{
color: black;
background-color: green;
}
#vermelho{
background-color: red;
color: black;
}
#amarelo{
background-color: yellow;
color: black;
}
#compras{
    background-color: rgb(183, 217, 255);
    border-radius: 10px;
    padding:   10px;
    margin: 10px;
    width: 1100px;

}